<div class="country-info__thumb">
    <div class="image__container">
        <img src="{{flag.svg}}" class="country-list__image" alt="Flag of {{name}}">
    </div>
    <p class="country-list__text">{{name.official}}</p>
</div>
<div class="country-info__content">
    <p><span>Capital:</span> {{capital}}</p>
    <p><span>Population:</span> {{population}}</p>
    <p><span>Languages:</span> {{languages}}</p>
</div>